body {
    background-image: url(https://img.freepik.com/premium-photo/people-are-filling-out-their-resume-job-application-form-apply-job-company_11304-2288.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 
h1 {
    text-align: center;
}
form {
    margin-left: 250px;
    
    margin-bottom:30px;
}

/* Your CSS Code here. */